@model IEnumerable<WebProgramlamaOdevi.Models.AnimalAdopted>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.Id)
            </td>
            <td>
              
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
